# Vbench 框架测试配置文件
# 用于测试各模块的集成功能
# 环境变量设置



environment:
  VBENCH_HOME: "/home/lq/LQcode/2_project/PHMBench/Vbench"
  PYTHONPATH: "/home/lq/.conda/envs/lq"
  PHMBench: "/home/lq/LQcode/2_project/PHMBench"
  project: "LQ_Vibench"
  seed: 42
  output_dir: "results/DG_B_09_FNO_target_13"
  iterations: 2
  wandb: False
  swanlab: True
  notes: 'DG_B_09_FNO_target_13'

  workspace: 'PHMbench'


# 数据配置
data:
  # data_dir: "/mnt/crucial/LQ/PHMbench_data"  # 数据目录
  data_dir: "/mnt/crucial/LQ/PHM-Vibench"  # for dummy test
  # data_dir: "/home/user/data/PHMbenchdata/PHM-Vibench"  # for dummy test
  metadata_file: "metadata_6_11.xlsx"  # 指定元数据文件路径
  batch_size: 256
  num_workers: 32 # 32
  train_ratio: 0.8
  normalization: true
  window_size: 4096
  stride: 5
  truncate_length: 100
  dtype: float32
  num_window: 256
  window_sampling_strategy: 'evenly_spaced'
  normalization: 'standardization'  # 'standardization' or 'minmax'



# 模型配置
model:
  name: "M_01_ISFM"
  type: "ISFM"
  input_dim: 2
  
  # num_classes: 4 # 根据target data 自动设置

  num_heads: 4
  num_layers: 2
  # d_model: 64
  d_ff: 128

  dropout: 0.1

  hidden_dim: 64
  activation: "relu"
  # ISFM_args:
  num_patches: 128
  embedding:  E_01_HSE # E_01_HTFE
  patch_size_L: 256
  patch_size_C: 1
  output_dim: 1024
  backbone: B_09_FNO

  num_layers: 1

  task_head: H_09_multiple_task #
  classification_head: H_02_distance_cla
  prediction_head: H_03_Linear_pred
  e_layers: 2
  factor: 5

# for FNO
  modes: 16  # 傅里叶模式数
  width: 64  # 隐藏层宽度


# 任务配置
task:
  name: "classification"
  type: DG

  task_list: ['classification', 'prediction']
  target_domain_num: 1


  # target_domain_id: [3]
  # source_domain_id: [0,1,2]


  loss: "CE" # cross_entropy
  metrics: ["acc"]
  # target_system_id: [13]
  target_system_id: [13]

  
  optimizer: "adam"
  # max_epochs: 10
  # batch_size: 32
  # num_workers: 32
  # pin_memory: true
  # shuffle: true
  # log_interval: 10
  # epochs: 100
  lr: 0.0001
  weight_decay: 0.0001

  scheduler: true
  scheduler_type: "reduceonplateau"

  patience: 20

  step_size: 3
  gamma: 0.5

  regularization: 
    l2: 1e-5
    l1: 1e-5
  alpha_prediction: 1

  # prediction args
  mask_ratio: 0.1
  forecast_part: 0.1

  num_systems: 1
  num_domains: 1
  num_labels: 3 # n_way to set num_labels, should be equal to the number of classes in the target domain
  num_support: 1
  num_query: 1
  num_episodes: 5

# 训练器配置
trainer:
  name: "Default_trainer"
  monitor: "val_loss"

  pruning: False
  num_epochs: 100
  gpus: 1
  early_stopping: true
  patience: 20
  device: 'cuda'
