
[submodule "data/Rotor_simulation"]
	path = data/Rotor_simulation
	url = git@github.com:liq22/Rotor_simulation.git
[submodule "paper/2025-10_foundation_model_0_metric"]
	path = paper/2025-10_foundation_model_0_metric
	url = git@github.com:liq22/PHM-Vibench-Paper-2025-Metric.git

[submodule "paper/LQ_vibench_fix"]
	path = paper/LQ_vibench_fix
	url = git@github.com:liq22/LQ_vibench_fix.git


