numpy>=1.20.0
pandas>=1.3.0
# For PyTorch, torchvision, and torchaudio, consider using the specified index URL during installation:
# pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu126
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
pytorch-lightning>=1.5.0
scikit-learn>=1.0.0
h5py
wandb
einops
matplotlib
scipy
seaborn
umap-learn
urllib3
modelscope
xlrd>2.0.0
openpyxl
tensorboard
swanlab
plotly
reformer_pytorch
scienceplots
transformers
timm

streamlit
