# Vbench 框架测试配置文件
# 用于测试各模块的集成功能
# 环境变量设置

environment:
  WANDB_MODE: "disabled"
  VBENCH_HOME: "/home/lq/LQcode/2_project/PHMBench/Vbench"
  PYTHONPATH: "/home/lq/.conda/envs/lq"
  PHMBench: "/home/lq/LQcode/2_project/PHMBench"

  project: "dummy_test"
  seed: 42
  output_dir: "results/dummy_test"
  notes: "This is a dummy test configuration."
  iterations: 1

# 数据配置
data:
  # data_dir: "/mnt/crucial/LQ/PHMbench_data"  # 数据目录
  data_dir: "/mnt/crucial/LQ/PHM-Vibench"  # for test 需要
  # metadata_file: "metadata_5_data.csv"  # 指定元数据文件路径
  metadata_file: 'metadata_6_1.xlsx'  # 指定元数据文件路径
  batch_size: 32
  num_workers: 32
  train_ratio: 0.8
  normalization: true
  window_size: 4096
  stride: 5
  truncate_lenth: 100
  dtype: float32
  num_window: 64

# 模型配置
model:
  name: "Transformer_Dummy"
  type: "Transformer"
  input_dim: 1
  num_classes: 4 # 根据target data 自动设置
  num_heads: 4
  num_layers: 2
  d_model: 64
  d_ff: 128
  dropout: 0.1
  feature_dim: 10
  hidden_dim: 64
  activation: "relu"


# 任务配置
task:
  name: "classification"
  type: 'DG'
  target_domain_id: [2]
  source_domain_id: [0,1]

  loss: "CE" # cross_entropy
  metrics: ["acc"]
  target_system_id: [6] # None # [1]

  
  optimizer: "adam"
  # max_epochs: 10
  batch_size: 32
  num_workers: 4
  pin_memory: true
  shuffle: true
  log_interval: 10
  epochs: 1
  lr: 0.001
  weight_decay: 0.0001
  early_stopping: true
  es_patience: 5
  scheduler: true
  scheduler_type: "step"
  step_size: 3
  gamma: 0.5

# 训练器配置
trainer:
  name: "Default_trainer"
  wandb: true
  pruning: False
  num_epochs: 10
  gpus: 1
  early_stopping: true
  patience: 5
  device: 'cuda'




