# 测试代理任务
## 



environment:
  VBENCH_HOME: "/home/lq/LQcode/2_project/PHMBench/Vbench"
  PYTHONPATH: "/home/lq/.conda/envs/lq"
  PHMBench: "/home/lq/LQcode/2_project/PHMBench"
  project: "LQ_EXP"
  seed: 42
  output_dir: "results/LQ_Vibench"
  iterations: 2
  wandb: True
  swanlab: False
  notes: 'template'

  workspace: 'PHMbench'


# 数据配置
data:
  # data_dir: "/mnt/crucial/LQ/PHMbench_data"  # 数据目录
  data_dir: "/mnt/crucial/LQ/PHM-Vibench"  # for dummy test
  # data_dir: "/home/user/data/PHMbenchdata/PHM-Vibench"  # for dummy test
  metadata_file: "metadata_6_11.xlsx"  # 指定元数据文件路径
  batch_size: 64
  num_workers: 32 # 32
  train_ratio: 0.8
  normalization: true
  window_size: 4096
  stride: 5
  truncate_length: 100
  dtype: float32
  num_window: 256
  window_sampling_strategy: 'evenly_spaced'
  normalization: 'standardization'  # 'standardization' or 'minmax'



# 模型配置
model:
  name: "M_02_ISFM"
  type: "ISFM"
  input_dim: 2
  
  # num_classes: 4 # 根据target data 自动设置

  num_heads: 4
  num_layers: 5 # TODO
  # d_model: 64
  d_ff: 128

  dropout: 0.1

  hidden_dim: 256
  c_dim: 8

  activation: "relu"
  # ISFM_args:
  num_patches: 128
  embedding:  E_02_HSE_v2  # E_01_HTFE
  patch_size_L: 256
  patch_size_C: 1
  output_dim: 1024
  backbone: B_10_VIBT # B_04_Dlinear , B_06_TimesNet, B_08_PatchTST,B_01_basic_transformer



  task_head: H_04_VIB_pred # H_09_multiple_task #
  # classification_head: H_02_distance_cla
  # prediction_head: H_03_Linear_pred
  e_layers: 2
  factor: 4

# for FNO
  modes: 16  # 傅里叶模式数
  width: 64  # 隐藏层宽度


# 任务配置
task:
  name: "prediction"
  type: 'pretrain' # CDDG  # FS

  task_list: ['prediction'] # 'classification',
  target_domain_num: 1


  # target_domain_id: [3]
  # source_domain_id: [0,1,2]


  loss: "CE" # cross_entropy
  metrics: ["acc"]
  # target_system_id: [6,9,15]
  # target_system_id: [1,5,6,13,19]
  target_system_id: [1,5,6,13,19] # 

  
  optimizer: "adam"
  # max_epochs: 10
  # batch_size: 32
  # num_workers: 32
  # pin_memory: true
  # shuffle: true
  # log_interval: 10
  # epochs: 100
  lr: 0.001
  weight_decay: 0.0001

  scheduler: true
  scheduler_type: "reduceonplateau"

  patience: 20

  step_size: 3
  gamma: 0.5

  regularization: 
    l2: 1e-5
    l1: 1e-5
  alpha_prediction: 1

  # prediction args
  mask_ratio: 0.5
  forecast_part: 0.5

  num_systems: 1
  num_domains: 1
  num_labels: 3 # n_way to set num_labels, should be equal to the number of classes in the target domain
  num_support: 1
  num_query: 1
  num_episodes: 5

# 训练器配置
trainer:
  name: "Default_trainer"
  monitor: "val_total_loss" # val loss

  pruning: False
  num_epochs: 1000
  gpus: 4
  early_stopping: true
  patience: 20
  device: 'cuda'
