# Vbench 框架测试配置文件
# 用于测试各模块的集成功能
# 环境变量设置

environment:
  WANDB_MODE: "disabled"
  VBENCH_HOME: "/home/lq/LQcode/2_project/PHMBench/Vbench"
  PYTHONPATH: "/home/lq/.conda/envs/lq"
  PHMBench: "/home/lq/LQcode/2_project/PHMBench"

  project: "dummy_test"
  seed: 42
  output_dir: "results/dummy_test"
  notes: "This is a dummy test configuration."
  iterations: 2

# 数据配置
data:
  # data_dir: "/mnt/crucial/LQ/PHMbench_data"  # 数据目录
  data_dir: "/home/user/data/PHMbenchdata"  # for dummy test
  metadata_file: "metadata_5_data.csv"  # 指定元数据文件路径
  batch_size: 32
  num_workers: 32
  train_ratio: 0.8
  normalization: true
  window_size: 10
  stride: 5
  truncate_lenth: 100


# 模型配置
model:
  name: "M_01_ISFM"
  args:
    type: "ISFM"
    input_dim: 2
    
    num_classes: 4 # 根据target data 自动设置

    num_heads: 4
    num_layers: 2
    d_model: 64
    d_ff: 128
    dropout: 0.1
    feature_dim: 10
    hidden_dim: 64
    activation: "relu"
    # ISFM_args:
    n_patches: 128
    embedding:  E_01_HSE # E_01_HTFE
    patch_size_L: 256
    patch_size_C: 1
    output_dim: 1024
    backbone: B_01_basic_transformer
    nhead: 2
    num_layers: 1
    task_head: H_02_distance_cla


# 任务配置
task:
  name: "Classification"
  args:
    type: 'CDDG' # cross-dataset domain generalization
    target_domain_num: 1


    target_domain_id: [3]
    source_domain_id: [0,1,2]


    loss: "CE" # cross_entropy
    metrics: ["acc"]
    target_dataset_id: [1,6]

    
    optimizer: "adam"
    # max_epochs: 10
    batch_size: 32
    num_workers: 4
    pin_memory: true
    shuffle: true
    log_interval: 10
    epochs: 10
    lr: 0.001
    weight_decay: 0.0001
    early_stopping: true
    es_patience: 5
    scheduler: true
    scheduler_type: "step"
    step_size: 3
    gamma: 0.5

# 训练器配置
trainer:
  name: "Default_trainer"
  args:
    wandb: true
    pruning: False
    n_epochs: 10
    gpus: 1
    early_stopping: true
    patience: 5
    device: 'cuda'




